

h1{
    color: blueviolet;
    font-size: 100px;
    font-weight: bold;
    margin-left: 100px;
}

.titulo{
    color: rgb(61, 4, 4);
    font-size: 50px;
    font-weight: bold;  
    margin-top: 20px;
}

h2{
    color: rgb(61, 4, 4);
    font-size: 50px;  
    
}

h3{
    color: blue;
    font-size: 30px;
    margin-left: 500px;
}

h4{
    color: rgb(97, 55, 3);
    font-size: 30px;
}

header{
    background-color: blanchedalmond;
}

main{
    background-color: rgb(193, 233, 233);
}

footer{
    background-color: rgb(190, 149, 88);
    font-size: large;
}

body{
    background-color: rgb(199, 94, 115);
}

section{
    background-color: rgb(113, 219, 184);
}

div{
    background-color: rgb(211, 163, 163);
}

p, span {
    font-size: larger;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: end;
}

ol, ul {
    font-size: larger;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}









